<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="BaseServiceAddress" value="https://sandbox.meracord.com/api/v201307/" />
		<add key="UserId" value="" />
		<add key="Password" value="" />
		<add key="GroupNumber" value="" />
	</appSettings>

	<system.serviceModel>
		<client>
			<endpoint address="https://api.meracord.com/v201307/Account.svc" binding="customBinding"
			          bindingConfiguration="api.binding" behaviorConfiguration="api.behavior" contract="Account.IAccount"
			          name="api.binding_IAccount" />

			<endpoint address="https://api.meracord.com/v201307/BankProfile.svc" binding="customBinding"
			          bindingConfiguration="api.binding" behaviorConfiguration="api.behavior"
			          contract="BankProfile.IBankProfile" name="api.binding_IBankProfile" />

			<endpoint address="https://api.meracord.com/v201307/Debit.svc" binding="customBinding"
			          bindingConfiguration="api.binding" behaviorConfiguration="api.behavior" contract="Debit.IDebit"
			          name="api.binding_IDebit" />

			<endpoint address="https://api.meracord.com/v201307/Document.svc" binding="customBinding"
			          bindingConfiguration="api.binding" behaviorConfiguration="api.behavior" contract="Document.IDocument"
			          name="api.binding_IDocument" />

			<endpoint address="https://api.meracord.com/v201307/Payee.svc" binding="customBinding"
			          bindingConfiguration="api.binding" behaviorConfiguration="api.behavior" contract="Payee.IPayee"
			          name="api.binding_IPayee" />

			<endpoint address="https://api.meracord.com/v201307/Payment.svc" binding="customBinding"
			          bindingConfiguration="api.binding" behaviorConfiguration="api.behavior" contract="Payment.IPayment"
			          name="api.binding_IPayment" />

			<endpoint address="https://api.meracord.com/v201307/Refund.svc" binding="customBinding"
			          bindingConfiguration="api.binding" behaviorConfiguration="api.behavior" contract="Refund.IRefund"
			          name="api.binding_IRefund" />

			<endpoint address="https://api.meracord.com/v201307/Transfer.svc" binding="customBinding"
			          bindingConfiguration="api.binding" behaviorConfiguration="api.behavior" contract="Transfer.ITransfer"
			          name="api.binding_ITransfer" />
		</client>

		<bindings>
			<customBinding>
				<binding name="api.binding">
					<security authenticationMode="UserNameOverTransport">
						<localClientSettings maxClockSkew="00:30:00" />
						<localServiceSettings maxClockSkew="00:30:00" />
					</security>
					<textMessageEncoding messageVersion="Soap11" />
					<httpsTransport authenticationScheme="Anonymous" maxReceivedMessageSize="2147483647" />
				</binding>
			</customBinding>
		</bindings>

		<behaviors>
			<endpointBehaviors>
				<behavior name="api.behavior">
					<dataContractSerializer maxItemsInObjectGraph="12582912" />
				</behavior>
			</endpointBehaviors>
		</behaviors>

	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>