<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="BaseServiceAddress" value="https://sandbox.meracord.com/api/" />
		<add key="UserId" value="" />
		<add key="Password" value="" />
		<add key="GroupNumber" value="" />
	</appSettings>

	<system.serviceModel>
		<client>
			<endpoint address="https://sandbox.meracord.com/api/data/Account.svc"
                      binding="customBinding" bindingConfiguration="api.binding" behaviorConfiguration="api.behavior"
                      contract="Account.IAccount"
                      name="api.binding_IAccount" />

			<endpoint address="https://sandbox.meracord.com/api/data/BankProfile.svc"
                      binding="customBinding" bindingConfiguration="api.binding" behaviorConfiguration="api.behavior"
                      contract="BankProfile.IBankProfile"
                      name="api.binding_IBankProfile" />

			<endpoint address="https://sandbox.meracord.com/api/data/Creditor.svc"
                      binding="customBinding" bindingConfiguration="api.binding" behaviorConfiguration="api.behavior"
                      contract="Creditor.ICreditor"
                      name="api.binding_ICreditor" />

			<endpoint address="https://sandbox.meracord.com/api/data/Debit.svc"
                      binding="customBinding" bindingConfiguration="api.binding" behaviorConfiguration="api.behavior"
                      contract="Debit.IDebit"
                      name="api.binding_IDebit" />

			<endpoint address="https://sandbox.meracord.com/api/data/Document.svc"
                      binding="customBinding" bindingConfiguration="api.binding" behaviorConfiguration="api.behavior"
                      contract="Document.IDocument"
                      name="api.binding_IDocument" />

			<endpoint address="https://sandbox.meracord.com/api/data/Settlement.svc"
                      binding="customBinding" bindingConfiguration="api.binding" behaviorConfiguration="api.behavior"
                      contract="Settlement.ISettlement"
                      name="api.binding_ISettlement" />

			<endpoint address="https://sandbox.meracord.com/api/data/PaymentCard.svc"
                      binding="customBinding" bindingConfiguration="api.binding" behaviorConfiguration="api.behavior"
                      contract="PaymentCard.IPaymentCard"
                      name="api.binding_IPaymentCard" />

			<endpoint address="https://sandbox.meracord.com/api/data/Vendor.svc"
                      binding="customBinding" bindingConfiguration="api.binding" behaviorConfiguration="api.behavior"
                      contract="Vendor.IVendor"
                      name="api.binding_IVendor" />

			<endpoint address="https://sandbox.meracord.com/api/data/DirectDepositProfile.svc"
                      binding="customBinding" bindingConfiguration="api.binding" behaviorConfiguration="api.behavior"
                      contract="DirectDepositProfile.IDirectDepositProfile"
                      name="api.binding_IDirectDepositProfile" />

			<endpoint address="https://sandbox.meracord.com/api/data/Transfer.svc"
                      binding="customBinding" bindingConfiguration="api.binding" behaviorConfiguration="api.behavior"
                      contract="Transfer.ITransfer"
                      name="api.binding_ITransfer" />

			<endpoint address="https://sandbox.meracord.com/api/data/Refund.svc"
                      binding="customBinding" bindingConfiguration="api.binding" behaviorConfiguration="api.behavior"
                      contract="Refund.IRefund"
                      name="api.binding_IRefund" />
		</client>

		<bindings>
			<customBinding>
				<binding name="api.binding">
					<security authenticationMode="UserNameOverTransport">
						<localClientSettings maxClockSkew="00:30:00"/>
						<localServiceSettings maxClockSkew="00:30:00"/>
					</security>
					<textMessageEncoding messageVersion="Soap11" />
					<httpsTransport authenticationScheme="Anonymous"
                                    maxReceivedMessageSize="2147483647" />
				</binding>
			</customBinding>
		</bindings>

		<behaviors>
			<endpointBehaviors>
				<behavior name="api.behavior">
					<dataContractSerializer maxItemsInObjectGraph="12582912" />
				</behavior>
			</endpointBehaviors>
		</behaviors>

	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

</configuration>
